@model ShopTARgv23.Models.OpenWeatherMap.OpenWeatherViewModel

<div class="container">
    <h2>Forecast for the selected city</h2>
    <h2>@Html.DisplayFor(model => model.Name)</h2>
    <hr />
    <dl class="row text-light">
        <div class="form-group row mb-3">
            <label asp-for="Temperature" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <!-- Add spacing here -->
                <span style="margin-left: 10px;">@Html.DisplayFor(model => model.Temperature) °C</span> <!-- Adjust the spacing here -->
            </div>
        </div>

        <div class="form-group row mb-3">
            <label asp-for="feels_like" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <span style="margin-left: 10px;">@Html.DisplayFor(model => model.feels_like) °C</span>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label asp-for="Description" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <span style="margin-left: 10px;">@Html.DisplayFor(model => model.Description)</span>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label asp-for="Pressure" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <span style="margin-left: 10px;">@Html.DisplayFor(model => model.Pressure)</span>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label asp-for="Humidity" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <span style="margin-left: 10px;">@Html.DisplayFor(model => model.Humidity)</span>
            </div>
        </div>

        <div class="form-group row mb-3">
            <label asp-for="WindSpeed" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <span style="margin-left: 10px;">@Html.DisplayFor(model => model.WindSpeed)</span>
            </div>
        </div>
    </dl>
</div>

<div class="container mt-4">
    <form method="get">
        <button asp-controller="openWeathers" asp-action="Index" class="btn btn-success">Index</button>
    </form>
</div>
